--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]==0.4.28
# evosax==0.1.6
notebook

# brax==0.0.15
# flax==0.6.0
# jax>=0.3.17
# jaxlib>=0.3.15
# qdax==0.2.3